
<div class="carousel-container">

    <ul class="product-list carousel-wrapper" data-product-length="<%= newProductsList.length %>">

        <% productsList.forEach((p, i) => { %>

            <li class="product-item">
                <a href="/productos/<%= p.id %>/<%= p.product_detail[0].id %>">

                    <div class="product-card" tabindex="0">

                        <figure class="card-banner">
                            <img src="/images/products/<%=p.product_detail[0].images[0] ? p.product_detail[0].images[0].name : '' %>" width="312" height="350" loading="lazy" alt="<%= p.name %>"
                            class="image-contain">
                            
                            <% if(p.product_detail[0].offer !== null && p.product_detail[0].offer !== 0){ %>
                                <div class="card-badge">Oferta <%= p.product_detail[0].offer %>%</div>
                            <% } %>
                            <ul class="card-action-list">

                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-1">
                                        <ion-icon name="cart-outline"></ion-icon>
                                    </button>

                                    <div class="card-action-tooltip" id="card-label-1">Agregar al Carrito
                                    </div>
                                </li>

                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-2">
                                        <ion-icon name="heart-outline"></ion-icon>
                                    </button>

                                    <div class="card-action-tooltip" id="card-label-2">Guardar</div>
                                </li>

                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-3">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </button>

                                    <div class="card-action-tooltip" id="card-label-3">Detalles</div>
                                </li>

                                <li class="card-action-item">
                                    <button class="card-action-btn" aria-labelledby="card-label-4">
                                        <ion-icon name="repeat-outline"></ion-icon>
                                    </button>

                                    <div class="card-action-tooltip" id="card-label-4">Comparar</div>
                                </li>

                            </ul>
                        </figure>

                        <div class="card-content">
                            <div class="card-cat">
                                <span class="card-cat-link">Categoria</span> /
                                <span class="card-cat-link">
                                    <%= p.category.name %>
                                </span>
                            </div>

                            <h3 class="h3 card-title">
                                <span>
                                    <%= i + 1 %> <%= p.name %>
                                </span>
                            </h3>
                            <% if(p.product_detail[0].offer !== null && p.product_detail[0].offer !== 0){ %>
                                <div class="card-price"  value="180.85">
                                    <del class="old-price">
                                        $<%= p.product_detail[0].price %>
                                    </del>
                                    <span>
                                        ยก$<%= offerCalc(p.product_detail[0].price, p.product_detail[0].offer) %>! 
                                    </span>
                                </div>
                            <% } else { %>
                                <div class="card-price">
                                    $<%= p.product_detail[0].price %>
                                </div>
                            <% } %>
                        </div>

                    </div>
                </a>

            </li>
            
        <% }) %>
        

    </ul>

</div>

<!-- <section class="controls"> -->
    <button class="control-btn control-left hidden">&lt;</button>
    <button class="control-btn control-right">&gt;</button>
<!-- </section> -->