<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7a486e1">

    <title>Raíces Jujeñas | Producto</title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">

    <script src="https://kit.fontawesome.com/a00d13e606.js" crossorigin="anonymous"></script>
    <!-- ICONOS -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/productos.css">
</head>

<body>

    <%- include("./partials/header.ejs", { productos: "selected" }) %>


        <main>
            <div class="container">
                <section class="categorias">
                    <%- include("./partials/products/categoryList.ejs", { categories }) %>
                </section>

                <section>
                    <%- include("./partials/products/limitedProducts.ejs", { alteredProducts, offerCalc }) %>
                </section>
            </div>
            <% if (userLogged && user.rol_id === 1) { %>
                <div>
                    <a href="/productos/crear" 
                    style="text-align: center; margin: 25px;">
                        Crear Producto
                    </a>
                </div>
                <% } %>
        </main>
        <%if (categoryId > 6 || categoryId < 1 || false) { %>
            <%- include("./partials/paginacion.ejs") %>
        <% } %>


        <%- include("./partials/footer.ejs") %>
        <a href="#top" class="go-top-btn" data-go-top>
            <ion-icon name="arrow-up-outline"></ion-icon>
        </a>

        <script src="js/script.js"></script>


</body>

</html>