<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7a486e1">
    <title>Crear Producto | Raíces Jujeñas </title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/css/createProduct.css">
    <script src="https://kit.fontawesome.com/a00d13e606.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <script src="/js/createProduct.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    
<main>
    <form action="/productos/crear" class="form-container" method="POST" enctype="multipart/form-data">
        <h1>Crear Producto</h1>
        <div class="product-name input-item">
            <label class="product-name__label" for="name">Nombre del Producto</label>
            <input class="product-name__input" id="name" type="text" placeholder="Nombre del Producto" required autocomplete="nombre" name="name" >
        </div>

        <div class="product-price input-item">
            <label for="price">Precio</label>
            <input id="price" type="number" placeholder="Precio"  name="price" required>
        </div>

        <div class="input-item">
            <label for="stock">Cantidad</label>
            <input id="stock" type="number" placeholder="Cantidad disponible"  name="stock" required>
        </div>

        <div class="product-category input-item">
            <span>Categoria</span>
            <select  name="category" id="category" required>
                <option disabled selected value="">
                    Escoge la categoria
                </option>
                <% for( category of categories ) { %>
                    <option value="<%= category.id %>"> <%= category.name %> </option>
                <% } %>

            </select>
        </div>

        <div class="product-status input-item">
            <span>Talle</span>
            
            <select name="size" id="size" required>
                <option disabled selected value="">
                    Escoge el talle
                </option>
                <% for( size of sizes ) { %>
                    <option value="<%= size.id %>"> <%= size.name %> </option>
                <% } %>
            </select>
        </div>

        <div class="product-status input-item">
            <span>Colores</span>
            
            <select name="color" id="color" required>
                <option disabled selected value="">
                    Escoge el color
                </option>
                <% for( color of colors ) { %>
                    <option value="<%= color.id %>"> <%= color.name %> </option>
                <% } %>
            </select>
        </div>

        <div class="product-photo input-item">
            <label for="profile-picture">Fotos del Producto</label>

            <div class="input-photo-box">
                <input id="profile-picture" type="file" accept=",jpg,png" required name="product-image" multiple>

                <section class="show-images-container none">
                    <h4>Images Nuevas a Subir</h4>
                    <span>¡Haz clic en una imagen y movela para ordenarla!</span>
                    <div class="show-images-edit">

                        <% for(let i = 0; i < 5; i++) { %>
                            <figure class="show-list-images">
                                <img class="img-edit" src="" alt="" data-id="<%= i + 1%>">
                            </figure>
                        <% } %>
        
                        <div class="show-list-images-absolute">
                                <div class="">Imagen Principal   %></div>
        
                            <% for(let i = 2; i < 6; i++) { %>
                                <div class="">Imagen <%= i %></div>
                            <% } %>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="product-description input-item">
            <label class="product-description__label " for="descripcion">Descripcion</label>
            <textarea class="product-description__textarea" name="description" id="descripcion" cols="30" rows="10" required></textarea>
        </div>

        <div class="form-buttons">
            <button type="submit" class="form-button-create">Cargar Producto</button>
        </div>
    </form>
</main>


    <%- include("./partials/footer.ejs") %>

    <!-- INICIO DE PAGINA -->
    <a href="#top" class="go-top-btn" data-go-top>
        <ion-icon name="arrow-up-outline"></ion-icon>
    </a>

    <script src="js/script.js"></script>

    <!-- ICONOS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>