<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#f7a486e1">
    <title>Editar Producto | Raíces Jujeñas </title>
    <link rel="shortcut icon" href="images/favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="/css/editProduct.css">
    <script src="https://kit.fontawesome.com/a00d13e606.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <script src="/js/editProduct.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>


</head>
<body>
    <%- include("./partials/header.ejs") %>
    
<main>
    <form action="/productos/<%= product.id %>/<%= chosenProductSpec.id %>/edit?_method=PUT" class="form-container" method="POST" enctype="multipart/form-data">
        <h1>Editar Producto:</h1>
        <h3><%= product.name  %> / Color <%= chosenProductSpec.color.name %> - Tamaño/Talle <%= chosenProductSpec.size.name %></h3>
        <% if (locals.errores && errores.length > 0) { %>
            <% for(error of errores) { %>
                <div style="color: red; padding-bottom: 8px;">
                   <%= error.msg %>
                </div>
            <% } %>
        <% } %>

        <div class="input-group">
            <div class="product-name input-item">
                <div class="error none">
                    <p>Campo vacio</p>
                </div>
                <label class="product-name__label" for="name">Nombre del Producto</label>
                <input class="product-name__input" id="name" type="text" placeholder="Nombre del Producto"  autocomplete="nombre" name="name" value="<%= product.name %>">
            </div>

            <div class="product-price input-item">
                <div class="error none">
                    <p>Campo vacio</p>
                </div>
                <label for="price">Precio</label>
                <input id="price" type="number" placeholder="Precio"  name="price"  value="<%= chosenProductSpec.price %>">
            </div>
        </div>

        <div class="input-group">
            <div class="input-item">
                <div class="error none">
                    <p>Campo vacio</p>
                </div>
                <label for="offer">Oferta</label>
                <input id="offer" type="number" placeholder="Descuento en porcentaje. Ej: 5, 10, 20"  name="offer" min="0" max="99"  value="<%= chosenProductSpec.offer || 0 %>">
            </div>

            <div class="input-item">
                <div class="error none">
                    <p>Campo vacio</p>
                </div>
                <label for="stock">Cantidad</label>
                <input id="stock" type="number" placeholder="Cantidad disponible"  name="stock"  value="<%= chosenProductSpec.stock %>"> 
            </div>
        </div>

        <div class="input-group">
            <div class="product-status input-item">
                <div class="error none">
                    <p>Campo vacio</p>
                </div>
                <label for="color">Colores</label>
                <select name="color" id="color" >
                    <option selected value="<%= chosenProductSpec.color_id %>">
                        <%= chosenProductSpec.color.name %>
                    </option>
                    <% for( color of colors ) { %>
                        <% if (color.name === chosenProductSpec.color.name) { continue } %>
                        <option value="<%= color.id %>"> <%= color.name %> </option>
                    <% } %>
                </select>
            </div>

            <div class="product-status input-item">
                <div class="error none">
                    <p>Campo vacio</p>
                </div>
                <label for="size">Talle</label>
                <select name="size" id="size" >
                    <option selected value="<%= chosenProductSpec.size_id %>">
                        <%= chosenProductSpec.size.name %>
                    </option>
                    <% for( size of sizes ) { %>
                        <% if (size.name === chosenProductSpec.size.name) { continue } %>
                        <option value="<%= size.id %>"> <%= size.name %> </option>
                    <% } %>
                </select>
            </div>
        </div>


        <div class="product-category input-item">
            <div class="error none">
                <p>Campo vacio</p>
            </div>
            <label for="category">Categoria</label>
            <select  name="category" id="category" >
                <option selected value="<%= product.category_id %>">
                    <%= product.category.name %>
                </option>
                <% for( category of categories ) { %>
                    <% if (category.name === product.category.name) { continue } %>

                    <option value="<%= category.id %>"> <%= category.name %> </option>
                <% } %>

            </select>
        </div>

        <div class="product-photo input-item">
            <div class="error-photo none">
                <p>Campo vacio</p>
            </div>
            <label for="profile-picture">Fotos del Producto. <span>* Campo Opcional</span></label>
            <div class="product-photo-border">
                <div class="input-photo-box">
                    <input id="profile-picture" type="file" accept=",jpg,png" value="<%= chosenProductSpec.images[0] ? chosenProductSpec.images[0].name : 'nada.jpg' %>" name="product-image" data-info="" multiple>
                    <div class="product-photos-list has-scrollbar">
                        <% for(let img of chosenProductSpec.images) { %>
                            <img src="/images/products/<%= img ? img.name : '' %>" alt="<%= product.name  %> - <%= chosenProductSpec.color.name %>">
                        <% } %>
                    </div>
                </div>
    
                <section class="show-images-container none">
                    <h4>Images Nuevas a Subir</h4>
                    <span>¡Haz clic en una imagen y movela para ordenarla!</span>
                    <div class="show-images-edit">

                        <% for(let i = 0; i < 5; i++) { %>
                            <figure class="show-list-images item">
                                <img class="img-edit" src="" alt="">
                            </figure>
                        <% } %>
        
                        <div class="show-list-images-absolute">
                                <div class="">Imagen Principal</div>
        
                            <% for(let i = 2; i < 6; i++) { %>
                                <div class="">Imagen <%= i %></div>
                            <% } %>
                        </div>
                    </div>

                </section>
            </div>

        </div>

        <div class="product-description input-item">
            <div class="error none">
                <p>Campo vacio</p>
            </div>
            <label class="product-description__label " for="descripcion">Descripcion</label>
            <textarea class="product-description__textarea" name="description" id="description" cols="30" rows="10" > <%= product.description %> </textarea>
        </div>

        <div class="form-buttons">
            <button type="submit" class="form-button-modify">Modificar Producto</button>
        </div>
    </form>
    
    <h2 style="text-align: center;">Productos Relacionados</h2>
        <div class="card-list-products">
            <% newProductsList.forEach((p) => { %>

                <div class="card-list-products" style="flex-direction: column;">
                    <% if (p.images[0]) { %>
                        <div class="card">
                            <div class="card-img">
                                <a href="/productos/<%= p.product_id %>/<%= p.id %>/edit"><img src="/images/products/<%= p.images[0].name %>"  alt="producto-<%= p.id %>" /></a>
                            </div>
                        </div>
                        <div style="margin: 10px; font-weight: bold; ">
                            <%= p.color.name %> 
                        </div> 
                        <div style="margin: 10px; font-weight: bold; ">
                            Tamaño/Talle: <%= p.size.name %> 
                        </div>
                    <% } else { %>
                        <div class="card">
                            <div class="card-img">
                                <a href="/productos/<%= p.product_id %>/<%= p.id %>/edit"><img src="/images/products/<%= detail[0].images[0] ? detail[0].images[0] : '' %>"  alt="producto-<%= p.id %>" /></a>
                            </div>
                        </div>
                        <div style="margin: 10px; font-weight: bold; ">
                            Color: <%= p.color.name %> 
                        </div>
                        <div style="margin: 10px; font-weight: bold; ">
                            Tamaño/Talle: <%= p.size.name %> 
                        </div>
                    <% } %>
                </div>
            
            <% }) %>
        </div>

</main>


    <%- include("./partials/footer.ejs") %>

    <!-- INICIO DE PAGINA -->
    <a href="#top" class="go-top-btn" data-go-top>
        <ion-icon name="arrow-up-outline"></ion-icon>
    </a>

    <script src="/js/script.js"></script>

    <!-- ICONOS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>