<section class="container pagination">
    <div class="pagination-box">
        <ul class="pagination__list">
            
            <% if (numberPage > 1) { %>
                <a class="pagination__link" href="productos?page=<%= numberPage - 1 %>"><li class="pagination__item"><</li></a>
            <% } %>

            <% for( let i = 0; i < Math.ceil(totalProducts / 4); i++ ) { %>
                <% if (numberPage === i + 1) { %>
                    <a class="pagination__link" href="productos?page=<%= i + 1 %>"><li class="pagination__item pagination__item-active"><%= i + 1 %></li></a>
                <% } else {%>
                    <a class="pagination__link" href="productos?page=<%= i + 1 %>"><li class="pagination__item "><%= i + 1 %></li></a>
                <% } %>
            <% } %>

            <% if (Math.ceil(totalProducts / 4) > numberPage) { %>
                <a class="pagination__link" href="productos?page=<%= numberPage + 1 %>"><li class="pagination__item">></li></a>
            <% } %>

        </ul>
    </div>
</section>