<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content ="#f7a486e1">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/a00d13e606.js" crossorigin="anonymous"></script>
    <link rel="preload" href="images/banner.png" as="image">
</head>
<body>

    <%- include("../partials/header.ejs") %>

    <main>
        <h1 style="text-align: center; margin: 10px 0;">Perfil de Usuario</h1>
        <div class="profile-container">
            <ul class="profile-navbar">
                <li class="account-nav">
                    <i class="fa-solid fa-user"></i>  
                    Cuenta
                </li>
                <a href="/profile/password">
                    <li class="profile-options">
                        <i class="fa-solid fa-key"></i>  
                        Contraseña
                    </li>   
                </a>
            </ul>

            <form action="/profile?_method=PUT" class="profile-info" method="post" enctype="multipart/form-data">
                <% if (user.avatar) { %>
                    <div class="profile-avatar">
                        <% if (locals.errors && errors["profile-image"]) { %>
                            <div style="color: red; padding-bottom: 8px;">
                               <%= errors["profile-image"].msg %>
                            </div>
                        <% } %>
                        <h4>Foto de Perfil</h4>
                        <img src="/images/users/<%= user.avatar || "defaultAvatar.png"%> " alt="">
                        <br>
                        <label for="avatar">Cambiar Imagen</label>
                        <input type="file" name="profile-image" id="avatar" accept=",jpg,jpeg,png,gif" hidden>
                    </div>
                <% } else { %>
                    <div class="profile-avatar">
                        <% if (locals.errors && errors["profile-image"]) { %>
                            <div style="color: red; padding-bottom: 8px;">
                               <%= errors["profile-image"].msg %>
                            </div>
                        <% } %>
                        <h4>Foto de Perfil</h4>
                        <img src="/images/users/defaultAvatar.png" alt="">
                        <br>
                        <label for="avatar">Cambiar Imagen</label>
                        <input type="file" name="profile-image" id="avatar" accept=",jpg,jpeg,png,gif" hidden>
                    </div>
                <% } %>
                <div class="account-info">
                    <% if (locals.errors && errors.name) { %>
                        <div style="color: red; padding-bottom: 8px;">
                           <%= errors.name.msg %>
                        </div>
                    <% } %>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="<%= user.name %>" required>
                </div>
                <div class="account-info">
                    <% if (locals.errors && errors.lastName) { %>
                        <div style="color: red; padding-bottom: 8px;">
                           <%= errors.lastName.msg %>
                        </div>
                    <% } %>
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>" required>
                </div>
                <div class="account-info">
                    <% if (locals.errors && errors.email) { %>
                        <div style="color: red; padding-bottom: 8px;">
                           <%= errors.email.msg %>
                        </div>
                    <% } %>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= user.email %>" required>
                </div>

                <button type="submit">Modificar Datos</button>
                
                <% if (rol == 1) { %>
                    <div class="account-info">
                        <br>
                        <h4 for="name" style="text-align: center;">
                            Posee privilegios de administrador</h4>
                            <br>
                    </div>
                <% } %>
            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

    <!-- INICIO DE PAGINA -->
    <a href="#top" class="go-top-btn" data-go-top>
        <ion-icon name="arrow-up-outline"></ion-icon>
    </a>

    <script src="/js/script.js"></script>

    <!-- ICONOS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>